NEXT_PUBLIC_API_GATEWAY_URL=https://vxajxqkp9g.execute-api.us-east-1.amazonaws.com/default/EDF-LCChatbot
NEXT_PUBLIC_UPLOAD_INIT_URL=https://https://develop.d2gmuq16pnsady.amplifyapp.com/api/upload-init